body {
    background: #fff6d8 url(cabecalhos_back.png) repeat-y left;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #906718;
    margin-left: 5em;
    margin-right: 2em
}

h2 {
    color: #906718;
    margin-left: 6.8em;
    margin-right:2em
}

h3 {
    color: #fff;
    background-color: #d48b00;
    padding: 0.25em;
    margin-left: 8.5em;
    margin-right: 2em;
}

p {
    margin-left: 10em;
    margin-right: 2em;
}

hr {
    border-style: dashed;
    color: #d48b00;
    border-width: medium;
    margin-left: 10em;
    margin-right:2em;
}