h2 {
    background-color: #7faeb7;
    padding: 0.31em
}

a {
    color: #004552;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #c9e9e5;
}

a:hover {
    color: #ffa700;
    /* Como já foi atribuido um peso e um decoração da fonte e texto no elemento a, não é necessário re-colocar esses mesmos estilos nos outros estados do link */
}

/* Não tem mais texto em parágrafo */

hr {
    border-color: #7faeb7;
    border-style: solid;
    border-width: 0.15em;
}

a:hover img {
    border: #ffa700 thick solid
}

a:hover:first-child img {border-color: aquamarine;
    border-radius: 1.30em 0 0 1.30em;
}
/* Por algum motivo não funcionou */

a:hover:last-child img {
    border-radius: 0 1.30em 1.30em 0;
}
/* Para adicionar o raio da borda apenas para o último elemento a, representado por uma imagem, quando o mouse está em em cima */
