h2 {
    background-color: #7faeb7;
    padding: 0.31em
}

a {
    color: #004552;
    font-weight: bold;
}

a:visited {
    color: #c9e9e5;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ffa700;
    font-weight: bold;
    text-decoration: none;
}

p {
    font-weight: bold;
}

hr {
    border-color: #7faeb7;
    border-width: 0.15em;
}

img:hover {
    border: #ffa700 thick solid
}